body {
    background-color: #e2e2e2;
    background-image: url(/public/img/shadow_light.png);
    background-repeat: repeat-x;
}

a.posttags {
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.posttags:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
