body {
    background: #554 url(/public/img/bg.gif);
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.ui.cards {
  margin:0px;
}

.ui.card, .ui.cards>.card {
    background-color: rgb(253,245, 219);
    /* border-radius:0px; */
}

.ui.segment {
    background-color:rgb(253,245, 219);
}
.right .ui.segment {
    background-color:rgb(192, 64, 13);
    color:#eee;
}
.header.title:hover {
  text-decoration:underline;
  cursor: pointer;
}   
    
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.tag.labels .label, .ui.tag.label {
    padding-left: 1.1em;
    padding-right: 0.8em;
    background:rgb(176, 45, 13, .8);
    color: #efece3;
}

.ui.tag.labels .label:hover, .ui.tag.label:hover {
    background:rgb(155, 41, 16);
}

.right .ui.list .list > a.item, .ui.list > a.item {
    color: #efece3;
    /* margin-left: -12px; */
    padding-left: 12px;
    background: url(/public/img/arrow.gif) no-repeat 0 60%;
}

.ui.list .list > a.item, .ui.list > a.item:hover {
    color: #ec9;
}

.right.column {
    max-width: 300px;
}

.back_to_top {
    width: 24px;
    color: gray;
    padding: 12px 0px 12px 5px;
    position: fixed;
    right: 0px;
    bottom: 100px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #fff;
    border-radius: 12px 0 0 12px;
    display: none;
}

a.posttags {
    background-color: #f93;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #edb;
}

a.posttags:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

.profile .item .name {
  text-align: center;
}

.profile .item .num {
  text-align: center;
  color: #ccc;
}

.profile .signature {
    font-weight: bold;
}